---
---

@import "{{ site.theme }}";

.wrapper {
  max-width: calc(1000px - (30px * 2));
}

h1 {
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 0px;
  margin-top: 20px;
}

hr {
  margin-top: 32px;
  margin-bottom: 32px;
  background-color: #ccc;
  border: 0px;
  height: 1px;
}

h4 {
  color: #666;
  font-size: 28px;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

h3 {
  font-size: 20px;
  padding-top: 12px;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
  color: #333;
  font-weight: 300;
}

.md-div {
  font-size: 18px;
  margin-bottom: 20px;
  color: #333;
  font-weight: 300;
}

.video-wrapper {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.authors-wrapper {
  text-align: center;
}

.author-container {
  display: inline-block;
  width: 12%;
  margin: 0 2% 0 2%;
}

.author-container p {
  margin-bottom: 0px;
  font-size: 14px;
}

.author-image {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
}

.author-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
}

.center {
  text-align: center;
}

.acknowledgement {
  color: #999;
  font-size: 12px;
}

.logos {
  text-align: center;
}

.logos img {
  padding: 0 4px 0 4px;
  height: 24px;
}

.img-left {
  display: inline-block;
  width: 50%;
}

.text-right {
  display: inline-block;
  width: calc(49% - 16px);
  margin-left: 16px;
  vertical-align: middle;
}

.text-left {
  display: inline-block;
  width: calc(49% - 16px);
  margin-right: 16px;
  vertical-align: middle;
}

.quote {
  width: 70%;
  margin-left: 15%
}

pre {
  display: block;
  font-size: 14px;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.sys-img {
  width: 90%;
  margin-left: 5%;
}

@media (max-width: 600px) {
  h1 {
    font-size: 36px;
  }

  h4 {
    font-size: 20px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 16px;
  }

  p {
    font-size: 14px;
  }

  .author-container p {
    font-size: 10px;
  }

  pre {
    font-size: 10px;
  }

  .wrapper {
    max-width: calc(100vw - 30px);
  }

  .author-container {
    display: inline-block;
    width: 22%;
    margin: 0 1% 0 1%;
  }

  .img-left {
    display: block;
    text-align: center;
    width: 70%;
    margin-left: 15%;
  }

  .text-right {
    width: 100%;
    margin-left: 0px;
  }

  .sys-img {
    width: 100%;
    margin-left: 0;
  }
}
